<script src="__STATIC__/assets/plugins/core/pace/pace.min.js"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="__STATIC__/assets/js/libs/jquery-2.1.1.min.js"></script>
<script>
window.jQuery || document.write('<script src="__STATIC__/assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="__STATIC__/assets/js/libs/jquery-ui.js"></script>
<script>
window.jQuery || document.write('<script src="__STATIC__/assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/assets/js/libs/excanvas.min.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="__STATIC__/assets/js/libs/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script src="__STATIC__/assets/js/bootstrap/bootstrap.js"></script>
<!-- Core plugins ( not remove ever) -->
<!-- Handle responsive view functions -->
<script src="__STATIC__/assets/js/jRespond.min.js"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="__STATIC__/assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
<!-- Resize text area in most pages -->
<script src="__STATIC__/assets/plugins/forms/autosize/jquery.autosize.js"></script>
<!-- Proivde quick search for many widgets -->
<script src="__STATIC__/assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
<!-- Bootbox confirm dialog for reset postion on panels -->
<script src="__STATIC__/assets/plugins/ui/bootbox/bootbox.js"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="__STATIC__/assets/plugins/core/moment/moment.min.js"></script>
<script src="__STATIC__/assets/plugins/charts/sparklines/jquery.sparkline.js"></script>
<script src="__STATIC__/assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>
<script src="__STATIC__/assets/plugins/forms/icheck/jquery.icheck.js"></script>
<script src="__STATIC__/assets/plugins/forms/tags/jquery.tagsinput.min.js"></script>
<script src="__STATIC__/assets/plugins/forms/tinymce/tinymce.min.js"></script>

<script src="__STATIC__/assets/plugins/misc/highlight/highlight.pack.js"></script>
<script src="__STATIC__/assets/plugins/misc/countTo/jquery.countTo.js"></script>
<script src="__STATIC__/assets/js/jquery.sprFlat.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>

<script src="__STATIC__/assets/js/pages/forms.js"></script>
<script src="__STATIC__/assets/plugins/forms/switch/jquery.onoff.min.js"></script>

<script src="__STATIC__/assets/plugins/forms/maxlength/bootstrap-maxlength.js"></script>

<script src="__STATIC__/assets/plugins/forms/bootstrap-filestyle/bootstrap-filestyle.js"></script>
<script src="__STATIC__/assets/plugins/forms/color-picker/spectrum.js"></script>
<script src="__STATIC__/assets/plugins/forms/daterangepicker/daterangepicker.js"></script>
<script src="__STATIC__/assets/plugins/forms/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__/assets/plugins/forms/globalize/globalize.js"></script>
<script src="__STATIC__/assets/plugins/forms/maskedinput/jquery.maskedinput.js"></script>
<script src="__STATIC__/assets/plugins/forms/select2/select2.js"></script>
<script src="__STATIC__/assets/plugins/forms/dual-list-box/jquery.bootstrap-duallistbox.js"></script>
<script src="__STATIC__/assets/plugins/forms/password/jquery-passy.js"></script> 
<script src="__STATIC__/assets/plugins/forms/checkall/jquery.CheckAll.js"></script>
