	<include file="Common:head"/>
    <include file="Common:form-css"/>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加{$parent_name}</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="commentForm" role="form" enctype="multipart/form-data" action="" method="post" >
							<input type="hidden" name="parent_id" value="{$parent_id}">
							<input type="hidden" name="id" value="{$info['id']}">
							<if condition="$parent_id neq 0">
							<div class="form-group">
                                <label class="col-sm-3 control-label"><h3 class="m-t-none m-b">上级菜单：</h3></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="parent_name" value="{$parent_data['name']}" placeholder="上级菜单" autofocus>
                                </div>
                            </div>
							</if>
							<if condition="$info.parent_id neq 0">
							<div class="form-group">
                                <label class="col-sm-3 control-label"><h3 class="m-t-none m-b">上级菜单：</h3></label>
                                <div class="col-sm-8">
                                   <select name="parent_id" class="form-control select2">
										<volist name="parent_menu" id="vo">
										<eq name="info.parent_id" value="$vo.id">
										<option value="{$vo['id']}" selected>{$vo.name}</option>
										<else/>
										<option value="{$vo['id']}">{$vo.name}</option>
										</eq>
										
										</volist>
								   </select>
                                </div>
                            </div>
							</if>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><h3 class="m-t-none m-b">菜单名称：</h3></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" value="{$info.name}" placeholder="菜单名称，不要超过四个字" autofocus>
                                    <if condition="($info.type eq '')">
                                    <input type="hidden" class="form-control menu_type" id="menu_type" name="menu_type" value="model" >
                                    <else />
                                    <input type="hidden" class="form-control menu_type" id="menu_type" name="menu_type" value="{$info.type}" >
                                    </if>
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-sm-3 control-label"><h3 class="m-t-none m-b">菜单排序：</h3></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="order" value="{$info.order}" placeholder="排序" autofocus>
                                </div>
                            </div>
                            <!-- <div class="form-group"> -->
                                <!-- <label class="col-sm-3 control-label"><h3 class="m-t-none m-b">菜单编码：</h3></label> -->
                                <!-- <div class="col-sm-8"> -->
                                    <!-- <input type="text" class="form-control" name="menu_no" value="{$info.menu_no}" placeholder="菜单编码" autofocus> -->
                                <!-- </div> -->
                            <!-- </div> -->
							<div class="form-group">
                                <label class="col-sm-3 control-label"><h3 class="m-t-none m-b">菜单地址：</h3></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="url" value="{$info.url}" placeholder="地址格式为:/m/c/a/格式不要乱填" autofocus>
                                </div>
                            </div>
                            
                           <!-- <div class="form-group">
                            	<label class="col-sm-3 control-label"><h3 class="m-t-none m-b">菜单内容：</h3></label>
                                <div class="sidebar-container col-sm-8">
                                    <ul class="nav nav-tabs navs-3">
                                
                                        <li <if condition="($info.type eq model) || ($info.type eq '')">class="active"</if>>
                                            <a data-toggle="tab" href="#tab-1" class="menu_type_model">
												<i class="fa fa-gear"></i> 模块
                                            </a>
                                        </li>
                                        <li <if condition="$info.type eq count">class="active"</if>>
                                            <a data-toggle="tab" href="#tab-2" class="menu_type_img">
                                                图文
                                            </a>
                                        </li>
                                        <li <if condition="$info.type eq view">class="active"</if>>
                                            <a data-toggle="tab" href="#tab-3" class="menu_type_link">
                                                链接
                                            </a>
                                        </li>
                                    </ul>
                                    
                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane <if condition="($info.type eq model) || ($info.type eq '')">active</if>">
                                            <div class="sidebar-title">
                                                <div class="form-group">
                                                    <volist name="model_list" id="ml">
                                                        <div class="input-group" style="float:left">
                                                        <label class="checkbox-inline" ><input type="radio" class="model_id" value="{$ml.id}" name="model_id" id="model_id" <?php if($ml['id'] == $info['model_id']){ ?> checked <?php } ?> >{$ml.name}</label>
                                                        </div>
                                                    </volist>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div id="tab-2" class="tab-pane <if condition="$info.type eq count">active</if>">
                                            <div class="sidebar-title">
                                                <div class="form-group">
                                                    <volist name="material_list" id="nl">
                                                        <div class="input-group" style="float:left">
                                                        <label class="checkbox-inline" ><input type="radio" class="view_id" value="{$nl.id}" name="view_id" id="view_id"  <?php if($nl['id'] == $info['view_id']){ ?> checked <?php } ?> >{$nl.title}</label>
                                                        </div>
                                                    </volist>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div id="tab-3" class="tab-pane <if condition="$info.type eq view">active</if>">
                                            <div class="sidebar-title">
                                                
                                                <div class="form-group">
                                                    <div class="input-group col-sm-10">
                                                        <input type="text" class="form-control menu_url " name="menu_url" id="menu_url" value="{$info.url}" placeholder="链接地址" autofocus>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>-->
                            
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/Admin/Menu/menu_list" ><div class="btn btn-primary">返回</div></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__MANAGE__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__MANAGE__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__MANAGE__/js/content.min.js?v=1.0.0"></script>
    
    <script>
		//传值给自定义菜单
		$(function(){
			//点击菜单赋值
			$(".menu_type_model").click(function(){
				$(".menu_type").val("model");
			});
			$(".menu_type_img").click(function(){
				$(".menu_type").val("count");
			});
			$(".menu_type_link").click(function(){
				$(".menu_type").val("view");
			});
		});
    </script>
    
    <script src="__MANAGE__/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="__MANAGE__/js/plugins/jsKnob/jquery.knob.js"></script>
    <script src="__MANAGE__/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="__MANAGE__/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="__MANAGE__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
    <script src="__MANAGE__/js/plugins/nouslider/jquery.nouislider.min.js"></script>
    <script src="__MANAGE__/js/plugins/switchery/switchery.js"></script>
    <script src="__MANAGE__/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
    <script src="__MANAGE__/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__MANAGE__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__MANAGE__/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="__MANAGE__/js/plugins/clockpicker/clockpicker.js"></script>
    <script src="__MANAGE__/js/plugins/cropper/cropper.min.js"></script>
    <script src="__MANAGE__/js/demo/form-advanced-demo.min.js"></script>
    
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/form_validate.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:16 GMT -->
</html>
