<!-- Import google fonts - Heading first/ text second -->
<link rel='stylesheet' type='text/css' href='__STATIC__/assets/css/Droid400700.css' />
<!--[if lt IE 9]>
<link href="__STATIC__/assets/css/ie9/Open400.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/assets/css/ie9/Open700.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/assets/css/ie9/Droid400.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/assets/css/ie9/Droid700.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!-- Css files -->
<!-- Icons -->
<link href="__STATIC__/assets/css/icons.css" rel="stylesheet" />
<!-- jQueryUI -->
<link href="__STATIC__/assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet" />
<!-- Bootstrap stylesheets (included template modifications) -->
<link href="__STATIC__/assets/css/bootstrap.css" rel="stylesheet" />
<!-- Plugins stylesheets (all plugin custom css) -->
<link href="__STATIC__/assets/css/plugins.css" rel="stylesheet" />
<!-- Main stylesheets (template main css file) -->
<link href="__STATIC__/assets/css/main.css" rel="stylesheet" />
<!-- Custom stylesheets ( Put your own changes here ) -->
<link href="__STATIC__/assets/css/custom.css" rel="stylesheet" />
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="__STATIC__/assets/img/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="__STATIC__/assets/img/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="__STATIC__/assets/img/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/img/ico/apple-touch-icon-57-precomposed.png">
<link rel="icon" href="__STATIC__/assets/img/ico/favicon.ico" type="image/png">
<!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->