<link href="__MANAGE__/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/switchery/switchery.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="__MANAGE__/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">