<script src="__MANAGE__/js/jquery.min.js?v=2.1.4"></script>
<script src="__MANAGE__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__MANAGE__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__MANAGE__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__MANAGE__/js/plugins/layer/layer.min.js"></script>
<script src="__MANAGE__/js/hplus.min.js?v=4.1.0"></script>
<script type="text/javascript" src="__MANAGE__/js/contabs.min.js"></script>
<script src="__MANAGE__/js/plugins/pace/pace.min.js"></script>