<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>One Piece - Responsive Portfolio &amp; Blog Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen" /> <!-- General style -->
<link href="css/tipsy.css" type="text/css" rel="stylesheet" media="screen"><!--tooltip-->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700|Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

<script type="text/javascript" src="js/css3-mediaqueries.js"></script><!--mediaqueries-->
<script type="text/javascript" src="js/modernizr-1.7.min.js"></script><!--modernizr-->
<script type="text/javascript" src="js/ddsmoothmenu.js"> </script> <!--menu-->
<script type="text/javascript" src="js/jquery.tipsy.js"></script><!--tooltip-->
<script type="text/javascript" src="js/jquery.quovolver.js"></script><!--blockquote-->
<script type="text/javascript" src="js/custom.js"></script><!--custom-->
</head>

<body>
	<div id="toTop">&uArr;</div>
	<header>
    	<div id="header_wrap">
        	<h1 class="logo"><a href="index.html">One Piece</a></h1>
            <nav id="smoothmenu1" class="ddsmoothmenu">
            	<ul>
                	<li><a href="index.html">Home</a>
                    	<ul>                        
                            <li class="no-border"><a href="index2.html">Slice Box</a></li>
                    	</ul>
                    </li>
                    <li><a href="#">Features</a>
                        <ul>
                            <li class="no-border"><a href="index.html">Camera Slider</a></li>
                            <li><a href="index2.html">Slice box Slider</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="button.html">Button</a></li>
                            <li><a href="column.html">Column</a></li>
                            <li><a href="list.html">Ordered, Unordered List</a></li>
                            <li><a href="404page.html">404 Error Page</a></li>
                    	</ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="work.html">Work</a>
                        <ul>
                            <li class="no-border"><a href="work.html">Work Filterable</a></li>
                            <li><a href="work2.html">Work 2 Column</a></li>
                            <li><a href="work3.html">Work 3 Column</a></li>
                            <li><a href="work4.html">Work 4 Column</a></li>
                            <li><a href="work-sidebar.html">Work with Sidebar</a></li>
                        	<li><a href="work-detail.html">Work with Detail</a></li>
                    	</ul>
                    </li>
                    <li><a href="blog.html">Blog</a>
                        <ul>
                        	<li class="no-border"><a href="blog1.html">Blog 2</a></li>
                        	<li><a href="single.html">Single</a></li>
                    	</ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a>
                        <ul>
                        	<li class="no-border"><a href="photo-album.html">Photo Album</a></li>
                    	</ul>
                    </li>
                	<li><a href="contact.html">Contact</a></li>
            	</ul>
        	</nav>
        </div><!--end:header_wrapa-->
    </header><!--end:header-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
	<div id="page_wrap">
        <div class="container">
        	<div class="whole">
        		<div class="fourpage">
            	<h2><strong><span>!</span>404</strong><span> !</span></h2>
        		<h3>Looks like the file you are looking for is no longer available.</h3>
                <p>Nulla et arcu lacus, quis interdum diam. Proin ac nunc erat. Sed et metus lectus, eu vulputate mauris. Quisque congue commodo pretium. Sed justo nulla, congue vitae tempor ac, lobortis vitae sem. Sed pretium est vitae lectus.</p>
                <h4>You might wanna browse our site intead:</h4>
                <ul class="site-menu">
                	<li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="sevices.html">Services</a></li>
                    <li><a href="work.html">Work</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            	</div>
             </div><!--end:whole-->
        </div><!--end:container-->
        <div class="tweet">
        	<ul id="tweet">					
            	<li class="entry-tweet">Check out this great <a href="#">#themeforest</a> item <strong>'Camouflet - Responsive Portfolio &amp; Blog Template'</strong> <a href="http://themeforest.net/item/camouflet-responsive-portfolio-blog-template/3325635">http://themeforest.net/item/camouflet-responsive-portfolio-blog-template/3325635</a></li>
				<li class="entry-tweet">Hello Buddy! Get the latest template here in <a href="#">html5awesome.com/themeforest/onepiece</a></li>
            	<li class="entry-tweet">Check out this great <a href="#">#themeforest</a> item <strong>'Casa Fresco - A Responsive Real Estate Template'</strong></li>
			</ul>
            <div>
            	<span>You should follow us on <a href="#">Twitter</a> for our latest updates.</span>
            </div>
        </div><!--end:end:tweet-->
    </div><!--end:page_wrap-->
    <footer>
    	<div id="footer_wrap">
        	<div class="one-third first">
            	<img src="images/logo-2.png" alt="">
                <p>Proin vitae mi sed felis suscipit dictum. Nam malesuada elit id metus euismod auctor. Vivamus placerat auctor. <a href="about.html">Read more</a></p>
            </div>
            <div class="one-third">
            	<ul class="siteinfo">
                	<li class="address">Adress:	<a href="#">9000 Cagayan de Oro City, Philippines</a></li>
                    <li class="email">Email: <a href="#">contact@sitename.com</a></li>
                    <li class="phone">Phone: <a href="#">+1 3400 7000 123</a></li>
                </ul>
            </div>
            <div class="one-third">
            	<ul class="social">
                    <li class="first"><a href="#" class="tip" title="Twitter"><img src="images/social-twitter.png" alt="Twitter" /></a></li>
                    <li><a href="#" class="tip" title="Skype"><img src="images/social-skype.png" alt="Skype" /></a></li>
                    <li><a href="#" class="tip" title="Flickr"><img src="images/social-flickr.png" alt="Flickr" /></a></li>
                    <li><a href="#" class="tip" title="Facebook"><img src="images/social-facebook.png" alt="Facebook" /></a></li>
                	<li><a href="#" class="tip" title="RSS feed"><img src="images/social-rss.png" alt="RSS feed" /></a></li>
                </ul>
            </div>
            <div class="copy">
            	<p>&copy; 2013. All Rights Reserved. HTML5 &amp; CSS3. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div><!--end:footer_wrap-->
    </footer><!--end:footer-->
<script type="text/javascript">
$(document).ready(function() {
	$('.entry-tweet').quovolver();		
});
</script>    
</body>
</html>
