 <footer>
    	<div id="footer_wrap">
        	<div class="one-third first">
            	<img src="__PUBLIC__/Home/images/logo-2.png" alt="">
                <p>{$SiteData['desc']}</p>
            </div>
            <div class="one-third">
            	<ul class="siteinfo">
                	<li class="address">地址:	<a >{$SiteData['address']}</a></li>
                    <li class="email">Email: <a >{$SiteData['email']}</a></li>
                    <li class="phone">资讯电话: <a >{$SiteData['phone']}</a></li>
                </ul>
            </div>
            <!-- <div class="one-third"> -->
            	<!-- <ul class="social"> -->
                    <!-- <li class="first"><a href="#" class="tip" title="Twitter"><img src="__PUBLIC__/Home/images/social-twitter.png" alt="Twitter" /></a></li> -->
                    <!-- <li><a href="#" class="tip" title="Skype"><img src="__PUBLIC__/Home/images/social-skype.png" alt="Skype" /></a></li> -->
                    <!-- <li><a href="#" class="tip" title="Flickr"><img src="__PUBLIC__/Home/images/social-flickr.png" alt="Flickr" /></a></li> -->
                    <!-- <li><a href="#" class="tip" title="Facebook"><img src="__PUBLIC__/Home/images/social-facebook.png" alt="Facebook" /></a></li> -->
                	<!-- <li><a href="#" class="tip" title="RSS feed"><img src="__PUBLIC__/Home/images/social-rss.png" alt="RSS feed" /></a></li> -->
                <!-- </ul> -->
            <!-- </div> -->
            <div class="copy">
            	<p>{$SiteData['site_ICP_desc']}</p>
            </div>
        </div><!--end:footer_wrap-