<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>One Piece - Responsive Portfolio &amp; Blog Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen" /> <!-- General style -->
<link href="css/prettyPhoto.css" type="text/css" rel="stylesheet" media="screen"><!-- prettyPhoto -->
<link href="css/tipsy.css" type="text/css" rel="stylesheet" media="screen"><!--tooltip-->
<link href="css/slicebox.css" type="text/css" rel="stylesheet" media="screen"><!--slice box-->
<link href="css/jcarousel.css" type="text/css" rel="stylesheet" media="screen" /> <!-- list_work -->
<link rel="stylesheet" href="css/mosaic.css" type="text/css" media="screen" /><!-- mosaic -->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700|Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

<script type="text/javascript" src="js/css3-mediaqueries.js"></script><!--mediaqueries-->
<script type="text/javascript" src="js/modernizr-1.7.min.js"></script><!--modernizr-->
<script type="text/javascript" src="js/ddsmoothmenu.js"> </script> <!--menu-->
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script><!-- prettyPhoto -->
<script type="text/javascript" src="js/jquery.tipsy.js"></script><!--tooltip-->
<script type='text/javascript' src="js/jquery.slicebox.js"></script><!--slice box-->
<script type='text/javascript' src="js/jquery.slicebox.min.js"></script><!--slice box-->
<script type='text/javascript' src='js/camera.min.js'></script> <!--camera slider-->
<script type="text/javascript" src="js/jquery.jcarousel.min.js"> </script> <!-- list_work -->
<script type="text/javascript" src="js/mosaic.1.0.1.js"></script> <!-- mosaic -->
<script type="text/javascript" src="js/jquery.quovolver.js"></script><!--blockquote-->
<script type="text/javascript" src="js/custom.js"></script><!--custom-->
</head>

<body>
	<div id="toTop">&uArr;</div> 
	<header>
    	<div id="header_wrap">
        	<h1 class="logo"><a href="index.html">One Piece</a></h1>
            <nav id="smoothmenu1" class="ddsmoothmenu">
            	<ul>
                	<li><a href="index.html" class="current">Home</a>
                    	<ul>                        
                            <li class="no-border"><a href="index2.html">Slice Box</a></li>
                    	</ul>
                    </li>
                    <li><a href="#">Features</a>
                        <ul>                        
                            <li class="no-border"><a href="index.html">Camera Slider</a></li>
                            <li><a href="index2.html">Slice box Slider</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="button.html">Button</a></li>
                            <li><a href="column.html">Column</a></li>
                            <li><a href="list.html">Ordered, Unordered List</a></li>
                            <li><a href="404page.html">404 Error Page</a></li>
                    	</ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="work.html">Work</a>
                        <ul>
                            <li class="no-border"><a href="work.html">Work Filterable</a></li>
                            <li><a href="work2.html">Work 2 Column</a></li>
                            <li><a href="work3.html">Work 3 Column</a></li>
                            <li><a href="work4.html">Work 4 Column</a></li>
                            <li><a href="work-sidebar.html">Work with Sidebar</a></li>
                        	<li><a href="work-detail.html">Work with Detail</a></li>
                    	</ul>
                    </li>
                    <li><a href="blog.html">Blog</a>
                        <ul>
		                    <li class="no-border"><a href="blog1.html">Blog 2</a></li>
                        	<li><a href="single.html">Single</a></li>
                    	</ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a>
                        <ul>
                        	<li class="no-border"><a href="photo-album.html">Photo Album</a></li>
                    	</ul>
                    </li>
                	<li><a href="contact.html">Contact</a></li>
            	</ul>
        	</nav>
        </div><!--end:header_wrapa-->
    </header><!--end:header-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
	<div id="page_wrap">
    	<div class="crumbs">
        	<h2>We enjoy creating <strong><a href="#">mobile</a></strong> &amp; <strong><a href="#">web apps</a></strong> with responsive style </h2>
            <span><a href="#">Get in touch</a></span>
        </div>
    	<div id="featured" class="wrapper">
            	<ul id="sb-slider" class="sb-slider">
					<li>
						<a href="#" target="_blank"><img src="images/featured/featured-1.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>Twin Peaks</h3>
                            <p>Suspendisse rhoncus facilisis adipiscing. Vestibulum eu ligula lorem. Vivamus orci sem, consectetur ut vestibulum a, semper ac dui. Aenean tellus nisl, commodo eu aliquet ut, pulvinar ut sapien. <a href="blog.html">Learn More</a></p>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="images/featured/featured-2.jpg" alt="image2"/></a>
						<div class="sb-description">
							<h3>Honest Entertainer</h3>
                            <p>Suspendisse rhoncus facilisis adipiscing. Vestibulum eu ligula lorem. Vivamus orci sem, consectetur ut vestibulum a, semper ac dui. Aenean tellus nisl, commodo eu aliquet ut, pulvinar ut sapien. <a href="blog.html">Learn More</a></p>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="images/featured/featured-3.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>Breaking Design</h3>
                            <p>Suspendisse rhoncus facilisis adipiscing. Vestibulum eu ligula lorem. Vivamus orci sem, consectetur ut vestibulum a, semper ac dui. Aenean tellus nisl, commodo eu aliquet ut, pulvinar ut sapien. <a href="blog.html">Learn More</a></p>
						</div>
					</li>
                    <li>
						<a href="#" target="_blank"><img src="images/featured/featured-4.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>Creative Lifesaver</h3>
                            <p>Suspendisse rhoncus facilisis adipiscing. Vestibulum eu ligula lorem. Vivamus orci sem, consectetur ut vestibulum a, semper ac dui. Aenean tellus nisl, commodo eu aliquet ut, pulvinar ut sapien. <a href="blog.html">Learn More</a></p>
						</div>
					</li>
				</ul>

				<!--<div id="shadow" class="shadow"></div>-->

				<div id="nav-arrows" class="nav-arrows">
					<a href="#">Next</a>
					<a href="#">Previous</a>
				</div>

				<div id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
                    <span></span>
				</div>
            </div><!--end:featured-->
        <div class="intro">
        	<div class="one-fourth serv current first">
            	<div>
            		<img src="images/serv-1.png" alt="">
            		<h4><a href="#">Branding</a></h4>
                	<span><small><a href="#">Logo</a></small>, <small><a href="#">Design</a></small></span><br><br>
                	<p>Aliquam dui arcu, imperdiet in venenatis ut, molestie nec magna. Nulla facilisi. </p>
                    <span><a href="services.html" class="more">&gt;</a></span>
                </div>
            </div>
            <div class="one-fourth serv">
            	<div>
            		<img src="images/serv-2.png" alt="">
            		<h4><a href="#">Interface Design</a></h4>
                	<span><small><a href="#">Logo</a></small>, <small><a href="#">Design</a></small></span><br><br>
                    <p>Aliquam dui arcu, imperdiet in venenatis ut, molestie nec magna. Nulla facilisi. </p>
                    <span><a href="services.html" class="more">&gt;</a></span>
                </div>
            </div>
            <div class="one-fourth serv">
            	<div>
                    <img src="images/serv-3.png" alt="">
                    <h4><a href="#">Development</a></h4>
                    <span><small><a href="#">Logo</a></small>, <small><a href="#">Design</a></small></span><br><br>
                    <p>Aliquam dui arcu, imperdiet in venenatis ut, molestie nec magna. Nulla facilisi. </p>
                    <span><a href="services.html" class="more">&gt;</a></span>
                </div>
            </div>
            <div class="one-fourth serv">
            	<div>
                    <img src="images/serv-4.png" alt="">
                    <h4><a href="#">Support</a></h4>
                    <span><small><a href="#">Logo</a></small>, <small><a href="#">Design</a></small></span><br><br>
                    <p>Aliquam dui arcu, imperdiet in venenatis ut, molestie nec magna. Nulla facilisi. </p>
                    <span><a href="services.html" class="more">&gt;</a></span>
                </div>
            </div>
            <div class="about">
            	<h2>Welcome to One Piece</h2>
                <p>Suspendisse rhoncus facilisis adipiscing. Vestibulum eu ligula lorem. Vivamus orci sem, consectetur ut vestibulum a, semper ac dui. Aenean tellus nisl, commodo eu aliquet ut, pulvinar ut sapien. Proin vulputate aliquam mi nec hendrerit. Sed fermentum velit vel ipsum bibendum tristique. </p>
                <span><a href="about.html">Learn More</a></span>
            </div>
        </div><!--end:intro-->
        <section class="blog-entry">
        	<div class="one-third thumb-blog first">
            	<div class="meta">
                	<span><strong>07</strong><small>Jan<br>2013</small></span>
                </div>
            	<a href="blog.html"><img src="images/blog/blog-1.jpg" alt=""></a>
                <h4><a href="blog.html">20 The Best Minimal Website</a></h4>
                <span>Posted by: <a href="#">Admin</a></span>
            </div>
            <div class="one-third thumb-blog">
            	<div class="meta">
                	<span><strong>05</strong><small>Jan<br>2013</small></span>
                </div>
            	<a href="blog.html"><img src="images/blog/blog-2.jpg" alt=""></a>
                <h4><a href="blog.html">2013 New Years Avatar</a></h4>
                <span>Posted by: <a href="#">Admin</a></span>
            </div>
            <div class="one-third thumb-blog">
            	<div class="meta">
                	<span><strong>01</strong><small>Jan<br>2013</small></span>
                </div>
            	<a href="blog.html"><img src="images/blog/blog-3.jpg" alt=""></a>
                <h4><a href="blog.html">Early Birds</a></h4>
                <span>Posted by: <a href="#">Admin</a></span>
            </div>
        </section><!--end:blog-entry-->
        <div class="list_work">
            <h2>Latest Work</h2>
            <ul id="mycarousel" class="jcarousel-skin-tango item">
                <li class="mosaic-block1 circle"><a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here" class="mosaic-overlay"></a><img src="images/work/work-1.jpg" alt="" />
                <span>Map #2013<br><small>Illustration, Web Design</small></span></li>
                <li class="mosaic-block1 circle"><a href="images/preview/work_2_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here" class="mosaic-overlay"></a><img src="images/work/work-2.jpg" alt="" />
                <span>Time+ Talks<br><small>Logo, Web Design</small></span></li>
                <li class="mosaic-block1 circle"><a href="images/preview/work_3_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here" class="mosaic-overlay"></a><img src="images/work/work-3.jpg" alt="" />
                <span>Dubai Pool<br><small>iPhone, Web Design</small></span></li>
                <li class="mosaic-block1 circle"><a href="images/preview/work_4_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here" class="mosaic-overlay"></a><img src="images/work/work-4.jpg" alt="" />
                <span>Canyon Country Renders<br><small>Handcraft, Web Design</small></span></li>
                <li class="mosaic-block1 circle"><a href="images/preview/work_5_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here" class="mosaic-overlay"></a><img src="images/work/work-5.jpg" alt="" />
                <span>Statistics UI<br><small>Illustration, Web Design</small></span></li>
                <li class="mosaic-block1 circle"><a href="images/preview/work_6_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here" class="mosaic-overlay"></a><img src="images/work/work-6.jpg" alt="" />
            	<span>Sketch Bird<br><small>Web Design</small></span></li>
        	</ul>
    	</div><!--end:list_work-->
        <div class="tweet">
        	<ul id="tweet">					
            	<li class="entry-tweet">Check out this great <a href="#">#themeforest</a> item <strong>'Camouflet - Responsive Portfolio &amp; Blog Template'</strong> <a href="http://themeforest.net/item/camouflet-responsive-portfolio-blog-template/3325635">http://themeforest.net/item/camouflet-responsive-portfolio-blog-template/3325635</a></li>
				<li class="entry-tweet">Hello Buddy! Get the latest template here in <a href="#">html5awesome.com/themeforest/onepiece</a></li>
            	<li class="entry-tweet">Check out this great <a href="#">#themeforest</a> item <strong>'Casa Fresco - A Responsive Real Estate Template'</strong></li>
			</ul>
            <div>
            	<p>Keep updated with our news. Your email is safe with us!<p>
            </div>
            <form action="#" method="post" class="subs">
                    <fieldset>
                    	<input type="text" name="emailadd" class="emailadd" value="Email Address" onBlur="if (this.value == ''){this.value = 'Email Address'; }" onFocus="if (this.value== 'Email Address') {this.value = ''; }" />
                	<input type="submit" name="submit" value="Subscribe" class="submit" />
            	</fieldset>
            </form>
        </div><!--end:end:tweet-->
    </div><!--end:page_wrap-->
    <footer>
    	<div id="footer_wrap">
        	<div class="one-third first">
            	<img src="images/logo-2.png" alt="">
                <p>Proin vitae mi sed felis suscipit dictum. Nam malesuada elit id metus euismod auctor. Vivamus placerat auctor. <a href="about.html">Read more</a></p>
            </div>
            <div class="one-third">
            	<ul class="siteinfo">
                	<li class="address">Adress:	<a href="#">9000 Cagayan de Oro City, Philippines</a></li>
                    <li class="email">Email: <a href="#">contact@sitename.com</a></li>
                    <li class="phone">Phone: <a href="#">+1 3400 7000 123</a></li>
                </ul>
            </div>
            <div class="one-third">
            	<ul class="social">
                    <li class="first"><a href="#" class="tip" title="Twitter"><img src="images/social-twitter.png" alt="Twitter" /></a></li>
                    <li><a href="#" class="tip" title="Skype"><img src="images/social-skype.png" alt="Skype" /></a></li>
                    <li><a href="#" class="tip" title="Flickr"><img src="images/social-flickr.png" alt="Flickr" /></a></li>
                    <li><a href="#" class="tip" title="Facebook"><img src="images/social-facebook.png" alt="Facebook" /></a></li>
                	<li><a href="#" class="tip" title="RSS feed"><img src="images/social-rss.png" alt="RSS feed" /></a></li>
                </ul>
            </div>
            <div class="copy">
            	<p>&copy; 2013. All Rights Reserved. HTML5 &amp; CSS3. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div><!--end:footer_wrap-->
    </footer><!--end:footer-->
<script type="text/javascript">
$(document).ready(function() {
	$('.entry-tweet').quovolver();		
});
</script>
<script type="text/javascript">
		//------SLICE BOX------------- 
	$(function() {

				var Page = (function() {

					var $navArrows = $( '#nav-arrows' ).hide(),
						$navDots = $( '#nav-dots' ).hide(),
						$nav = $navDots.children( 'span' ),
						$shadow = $( '#shadow' ).hide(),
						slicebox = $( '#sb-slider' ).slicebox( {
							onReady : function() {

								$navArrows.show();
								$navDots.show();
								$shadow.show();

							},
							onBeforeChange : function( pos ) {

								$nav.removeClass( 'nav-dot-current' );
								$nav.eq( pos ).addClass( 'nav-dot-current' );

							}
						} ),
						
						init = function() {

							initEvents();
							
						},
						initEvents = function() {

							// add navigation events
							$navArrows.children( ':first' ).on( 'click', function() {

								slicebox.next();
								return false;

							} );

							$navArrows.children( ':last' ).on( 'click', function() {
								
								slicebox.previous();
								return false;

							} );

							$nav.each( function( i ) {
							
								$( this ).on( 'click', function( event ) {
									
									var $dot = $( this );
									
									if( !slicebox.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );
									
									}
									
									slicebox.jump( i + 1 );
									return false;
								
								} );
								
							} );

						};

						return { init : init };

				})();

				Page.init();

			});
    </script>    
</body>
</html>
