<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>One Piece - Responsive Portfolio &amp; Blog Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen" /> <!-- General style -->
<link href="css/tipsy.css" type="text/css" rel="stylesheet" media="screen"><!--tooltip-->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700|Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

<script type="text/javascript" src="js/css3-mediaqueries.js"></script><!--mediaqueries-->
<script type="text/javascript" src="js/modernizr-1.7.min.js"></script><!--modernizr-->
<script type="text/javascript" src="js/ddsmoothmenu.js"> </script> <!--menu-->
<script type="text/javascript" src="js/jquery.tipsy.js"></script><!--tooltip-->
<script type="text/javascript" src="js/jquery.quovolver.js"></script><!--blockquote-->
<script type="text/javascript" src="js/custom.js"></script><!--custom-->
<!--gallery-->
<link rel="stylesheet" type="text/css" href="css/elastislide.css" media="screen" />
<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>

</head>

<body>
	<div id="toTop">&uArr;</div> 
	<header>
    	<div id="header_wrap">
        	<h1 class="logo"><a href="index.html">One Piece</a></h1>
            <nav id="smoothmenu1" class="ddsmoothmenu">
            	<ul>
                	<li><a href="index.html">Home</a>
                    	<ul>                        
                            <li class="no-border"><a href="index2.html">Slice Box</a></li>
                    	</ul>
                    </li>
                    <li><a href="#">Features</a>
                        <ul>
                            <li class="no-border"><a href="index.html">Camera Slider</a></li>
                            <li><a href="index2.html">Slice box Slider</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="button.html">Button</a></li>
                            <li><a href="column.html">Column</a></li>
                            <li><a href="list.html">Ordered, Unordered List</a></li>
                            <li><a href="404page.html">404 Error Page</a></li>
                    	</ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="work.html">Work</a>
                        <ul>
                            <li class="no-border"><a href="work.html">Work Filterable</a></li>
                            <li><a href="work2.html">Work 2 Column</a></li>
                            <li><a href="work3.html">Work 3 Column</a></li>
                            <li><a href="work4.html">Work 4 Column</a></li>
                            <li><a href="work-sidebar.html">Work with Sidebar</a></li>
                        	<li><a href="work-detail.html">Work with Detail</a></li>
                    	</ul>
                    </li>
                    <li><a href="blog.html">Blog</a>
                        <ul>
                        	<li class="no-border"><a href="blog1.html">Blog 2</a></li>
                        	<li><a href="single.html">Single</a></li>
                    	</ul>
                    </li>
                    <li><a href="gallery.html" class="current">Gallery</a>
                        <ul>
                        	<li class="no-border"><a href="photo-album.html">Photo Album</a></li>
                    	</ul>
                    </li>
                	<li><a href="contact.html">Contact</a></li>
            	</ul>
        	</nav>
        </div><!--end:header_wrapa-->
    </header><!--end:header-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
	<div id="page_wrap">
    	<div class="breadcrumbs">
        	<h2>Photo Gallery</h2>
            <p>Curabitur vel lobortis est. Vivamus tristique nisl sed urna commodo.</p>
            <span><a href="#">Get in touch</a></span>
        </div><!--end:breadcrumbs-->
        <div class="container">
        <h2>&mdash; Name of Album (24)</h2>
        	<div id="rg-gallery" class="rg-gallery">
          <div class="rg-thumbs"> 
            <!-- Elastislide Carousel Thumbnail Viewer -->
            <div class="es-carousel-wrapper">
              <div class="es-nav"> <span class="es-nav-prev">Previous</span> <span class="es-nav-next">Next</span> </div>
              <div class="es-carousel">
                <ul>
                  <li><a href="#"><img src="images/thumbs/1.jpg" data-large="images/big/1.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                  <li><a href="#"><img src="images/thumbs/2.jpg" data-large="images/big/2.jpg" alt="image02" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="images/thumbs/3.jpg" data-large="images/big/3.jpg" alt="image03" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="images/thumbs/4.jpg" data-large="images/big/4.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" /></a></li>
                  <li><a href="#"><img src="images/thumbs/5.jpg" data-large="images/big/5.jpg" alt="image05" data-description="And down I laid to list the sad-tuned tale" /></a></li>
                  <li><a href="#"><img src="images/thumbs/6.jpg" data-large="images/big/6.jpg" alt="image06" data-description="Ere long espied a fickle maid full pale" /></a></li>
                  <li><a href="#"><img src="images/thumbs/7.jpg" data-large="images/big/7.jpg" alt="image07" data-description="Tearing of papers, breaking rings a-twain" /></a></li>
                  <li><a href="#"><img src="images/thumbs/8.jpg" data-large="images/big/8.jpg" alt="image08" data-description="Storming her world with sorrow's wind and rain" /></a></li>
                  <li><a href="#"><img src="images/thumbs/9.jpg" data-large="images/big/9.jpg" alt="image09" data-description="Upon her head a platted hive of straw" /></a></li>
                  <li><a href="#"><img src="images/thumbs/10.jpg" data-large="images/big/10.jpg" alt="image10" data-description="Which fortified her visage from the sun" /></a></li>
                  <li><a href="#"><img src="images/thumbs/11.jpg" data-large="images/big/11.jpg" alt="image11" data-description="Whereon the thought might think sometime it saw" /></a></li>
                  <li><a href="#"><img src="images/thumbs/12.jpg" data-large="images/big/12.jpg" alt="image12" data-description="The carcass of beauty spent and done" /></a></li>
                  <li><a href="#"><img src="images/thumbs/13.jpg" data-large="images/big/13.jpg" alt="image13" data-description="Time had not scythed all that youth begun" /></a></li>
                  <li><a href="#"><img src="images/thumbs/14.jpg" data-large="images/big/14.jpg" alt="image14" data-description="Nor youth all quit; but, spite of heaven's fell rage" /></a></li>
                  <li><a href="#"><img src="images/thumbs/15.jpg" data-large="images/big/15.jpg" alt="image15" data-description="Some beauty peep'd through lattice of sear'd age" /></a></li>
                  <li><a href="#"><img src="images/thumbs/16.jpg" data-large="images/big/16.jpg" alt="image16" data-description="Oft did she heave her napkin to her eyne" /></a></li>
                  <li><a href="#"><img src="images/thumbs/17.jpg" data-large="images/big/17.jpg" alt="image17" data-description="Which on it had conceited characters" /></a></li>
                  <li><a href="#"><img src="images/thumbs/18.jpg" data-large="images/big/18.jpg" alt="image18" data-description="Laundering the silken figures in the brine" /></a></li>
                  <li><a href="#"><img src="images/thumbs/19.jpg" data-large="images/big/19.jpg" alt="image19" data-description="That season'd woe had pelleted in tears" /></a></li>
                  <li><a href="#"><img src="images/thumbs/20.jpg" data-large="images/big/20.jpg" alt="image20" data-description="And often reading what contents it bears" /></a></li>
                  <li><a href="#"><img src="images/thumbs/21.jpg" data-large="images/big/21.jpg" alt="image21" data-description="As often shrieking undistinguish'd woe" /></a></li>
                  <li><a href="#"><img src="images/thumbs/22.jpg" data-large="images/big/22.jpg" alt="image22" data-description="In clamours of all size, both high and low" /></a></li>
                  <li><a href="#"><img src="images/thumbs/23.jpg" data-large="images/big/23.jpg" alt="image23" data-description="Sometimes her levell'd eyes their carriage ride" /></a></li>
                  <li><a href="#"><img src="images/thumbs/24.jpg" data-large="images/big/24.jpg" alt="image24" data-description="As they did battery to the spheres intend" /></a></li>
                </ul>
              </div>
            </div>
            <!-- End Elastislide Carousel Thumbnail Viewer --> 
          </div>
          <!-- rg-thumbs --> 
        </div>
        <!-- rg-gallery --> 
        </div><!--end:container-->
        <div class="tweet">
        	<ul id="tweet">					
            	<li class="entry-tweet">Check out this great <a href="#">#themeforest</a> item <strong>'Camouflet - Responsive Portfolio &amp; Blog Template'</strong> <a href="http://themeforest.net/item/camouflet-responsive-portfolio-blog-template/3325635">http://themeforest.net/item/camouflet-responsive-portfolio-blog-template/3325635</a></li>
				<li class="entry-tweet">Hello Buddy! Get the latest template here in <a href="#">html5awesome.com/themeforest/onepiece</a></li>
            	<li class="entry-tweet">Check out this great <a href="#">#themeforest</a> item <strong>'Casa Fresco - A Responsive Real Estate Template'</strong></li>
			</ul>
            <div>
            	<span>You should follow us on <a href="#">Twitter</a> for our latest updates.</span>
            </div>
        </div><!--end:end:tweet-->
    </div><!--end:page_wrap-->
    <footer>
    	<div id="footer_wrap">
        	<div class="one-third first">
            	<img src="images/logo-2.png" alt="">
                <p>Proin vitae mi sed felis suscipit dictum. Nam malesuada elit id metus euismod auctor. Vivamus placerat auctor. <a href="about.html">Read more</a></p>
            </div>
            <div class="one-third">
            	<ul class="siteinfo">
                	<li class="address">Adress:	<a href="#">9000 Cagayan de Oro City, Philippines</a></li>
                    <li class="email">Email: <a href="#">contact@sitename.com</a></li>
                    <li class="phone">Phone: <a href="#">+1 3400 7000 123</a></li>
                </ul>
            </div>
            <div class="one-third">
            	<ul class="social">
                    <li class="first"><a href="#" class="tip" title="Twitter"><img src="images/social-twitter.png" alt="Twitter" /></a></li>
                    <li><a href="#" class="tip" title="Skype"><img src="images/social-skype.png" alt="Skype" /></a></li>
                    <li><a href="#" class="tip" title="Flickr"><img src="images/social-flickr.png" alt="Flickr" /></a></li>
                    <li><a href="#" class="tip" title="Facebook"><img src="images/social-facebook.png" alt="Facebook" /></a></li>
                	<li><a href="#" class="tip" title="RSS feed"><img src="images/social-rss.png" alt="RSS feed" /></a></li>
                </ul>
            </div>
            <div class="copy">
            	<p>&copy; 2013. All Rights Reserved. HTML5 &amp; CSS3. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div><!--end:footer_wrap-->
    </footer><!--end:footer-->
<script type="text/javascript" src="js/gallery.js"></script> <!--gallery-->
<script type="text/javascript" src="js/jquery.tmpl.min.js"></script> <!--gallery-->
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script> <!--gallery-->
<script type="text/javascript" src="js/jquery.elastislide.js"></script> <!--gallery-->    
<script type="text/javascript">
$(document).ready(function() {
	$('.entry-tweet').quovolver();		
});
</script>    
</body>
</html>
