<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>One Piece - Responsive Portfolio &amp; Blog Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen" /> <!-- General style -->
<link href="css/tipsy.css" type="text/css" rel="stylesheet" media="screen"><!--tooltip-->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700|Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

<script type="text/javascript" src="js/css3-mediaqueries.js"></script><!--mediaqueries-->
<script type="text/javascript" src="js/modernizr-1.7.min.js"></script><!--modernizr-->
<script type="text/javascript" src="js/ddsmoothmenu.js"> </script> <!--menu-->
<script type="text/javascript" src="js/jquery.tipsy.js"></script><!--tooltip-->
<script type="text/javascript" src="js/jquery.quovolver.js"></script><!--blockquote-->
<script type="text/javascript" src="js/custom.js"></script><!--custom-->
</head>

<body>
	<div id="toTop">&uArr;</div> 
	<header>
    	<div id="header_wrap">
        	<h1 class="logo"><a href="index.html">One Piece</a></h1>
            <nav id="smoothmenu1" class="ddsmoothmenu">
            	<ul>
                	<li><a href="index.html">Home</a>
                    	<ul>                        
                            <li class="no-border"><a href="index2.html">Slice Box</a></li>
                    	</ul>
                    </li>
                    <li><a href="#">Features</a>
                        <ul>
                            <li class="no-border"><a href="index.html">Camera Slider</a></li>
                            <li><a href="index2.html">Slice box Slider</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="button.html">Button</a></li>
                            <li><a href="column.html">Column</a></li>
                            <li><a href="list.html">Ordered, Unordered List</a></li>
                            <li><a href="404page.html">404 Error Page</a></li>
                    	</ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="work.html">Work</a>
                        <ul>
                            <li class="no-border"><a href="work.html">Work Filterable</a></li>
                            <li><a href="work2.html">Work 2 Column</a></li>
                            <li><a href="work3.html">Work 3 Column</a></li>
                            <li><a href="work4.html">Work 4 Column</a></li>
                            <li><a href="work-sidebar.html">Work with Sidebar</a></li>
                        	<li><a href="work-detail.html">Work with Detail</a></li>
                    	</ul>
                    </li>
                    <li><a href="blog.html" class="current">Blog</a>
                        <ul>
                        	<li class="no-border"><a href="blog1.html">Blog 2</a></li>
                        	<li><a href="single.html">Single</a></li>
                    	</ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a>
                        <ul>
                        	<li class="no-border"><a href="photo-album.html">Photo Album</a></li>
                    	</ul>
                    </li>
                	<li><a href="contact.html">Contact</a></li>
            	</ul>
        	</nav>
        </div><!--end:header_wrapa-->
    </header><!--end:header-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
	<div id="page_wrap">
    	<div class="breadcrumbs">
        	<h2>Single Blog Post</h2>
            <p>Curabitur vel lobortis est. Vivamus tristique nisl sed urna commodo.</p>
            <span><a href="#">Get in touch</a></span>
        </div><!--end:breadcrumbs-->
        <div class="container">
        	<section class="content">
                <article>
                	<div class="meta">
                		<span><small class="post-pic"></small><strong>06</strong><small>Jan<br>2013</small></span>
                	</div>
                    <a href="single.html"><img src="images/blog/blog-single.jpg" alt=""></a>
                    <h2><a href="single.html">Single Blog Post</a></h2>
                    <ul>
                    	<li class="post">Posted by: <a href="#">Admin</a></li>
                        <li class="category">Category: <a href="#">Inpirational</a></li>
                        <li class="comment">Comment: <a href="#">4</a></li>
                    </ul>
                    <p>Suspendisse rhoncus facilisis adipiscing. Vestibulum eu ligula lorem. Vivamus orci sem, consectetur ut vestibulum a, semper ac dui. Aenean tellus nisl, commodo eu aliquet ut, pulvinar ut sapien. Proin vulputate aliquam mi nec hendrerit. Sed fermentum velit vel ipsum bibendum tristique. Ut sem lacus, porttitor et aliquam eget, iaculis id lacus. Praesent sollicitudin, nibh nec mattis lobortis, dui massa eleifend magna, eget consequat risus felis dignissim ligula. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus nulla ullamcorper dolor tincidunt adipiscing imperdiet dolor bibendum. Donec sed metus eu ligula laoreet volutpat non nec eros. Integer sollicitudin felis eu turpis euismod sit amet consequat tellus tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus enim ipsum, pretium eu tristique quis, sagittis at arcu. Maecenas arcu felis, tempor sit amet dignissim sit amet, facilisis vitae ante. Integer vehicula dictum leo eu hendrerit. Etiam nibh ligula, mattis sed vestibulum quis, ultrices at nulla. Aenean vel est arcu, nec gravida lectus. Nullam accumsan, felis sed rhoncus porttitor, augue purus ultrices mi, nec rutrum magna odio eget quam. Proin ac dolor et odio placerat rhoncus. Pellentesque nunc nunc, facilisis sit amet lobortis ac, euismod nec enim.</p>
                    <p>Pellentesque pellentesque turpis vitae justo laoreet feugiat. In hac habitasse platea dictumst. Aliquam volutpat facilisis faucibus. Duis ullamcorper aliquam elementum. Donec pulvinar est urna, vel ultricies libero. Nam commodo tellus vel ligula elementum in mattis turpis varius. Morbi sagittis ornare ipsum, sed egestas leo bibendum ut. Donec gravida adipiscing semper. Integer et erat orci. In hendrerit odio lacus, volutpat condimentum nulla. Integer sit amet lorem vitae magna cursus fringilla id ut lorem. Morbi diam libero, tincidunt eu condimentum sit amet, mattis ac velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed iaculis pulvinar sapien nec varius. Nullam sit amet sollicitudin elit. Etiam nec ligula risus, sit amet venenatis massa.</p>
                </article>
                <div class="author">
                	<h3>About the author</h3>
                	<img src="images/author.jpg" alt="">
                    <h4>Louie Jie Mahusay <br><span>Web Designer, A Blogger, CEO</span></h4>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus enim ipsum, pretium eu tristique quis, sagittis at arcu. Maecenas arcu felis, tempor sit amet dignissim sit amet, facilisis vitae ante.</p>
                </div>
                <div class="feedback-wrap">
                <h3>4 Comment &mdash; <span><a href="#">Single Blog Post</a></span></h3><br>
                	<div class="dvision">
                    	<div class="feedback">
                        	<img src="images/user-1.jpg" alt="">
                            <div>
                                <h4><a href="#">Louie Jie Mahusay</a></h4>
                                <span><a href="#">January 26, 2013 at 10:38 am</a></span>
                                <p>Mauris vestibulum elementum condimentum. Donec eget turpis eget arcu aliquam fermentum. Donec tincidunt ipsum et nisl laoreet id mattis ante mollis.</p>
                                <span class="reply"><a href="#">Reply</a></span>
                            </div>
                        </div>
                        <div class="feedback feed2">
                        	<img src="images/user-2.jpg" alt="">
                            <div>
                                <h4><a href="#">Divine Grace Mahusay</a></h4>
                                <span><a href="#">January 26, 2013 at 10:38 am</a></span>
                                <p>Mauris vestibulum elementum condimentum. Donec eget turpis eget arcu aliquam fermentum. Donec tincidunt ipsum et nisl laoreet id mattis ante mollis.</p>
                                <span class="reply"><a href="#">Reply</a></span>
                            </div>
                        </div>
                        <div class="feedback feed3">
                        	<img src="images/user-3.jpg" alt="">
                            <div>
                                <h4><a href="#">Belfred Charcus</a></h4>
                                <span><a href="#">January 26, 2013 at 10:38 am</a></span>
                                <p>Mauris vestibulum elementum condimentum. Donec eget turpis eget arcu aliquam fermentum. Donec tincidunt ipsum et nisl laoreet id mattis ante mollis.</p>
                                <span class="reply"><a href="#">Reply</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="dvision">
                    	<div class="feedback">
                        	<img src="images/user-1.jpg" alt="">
                            <div>
                                <h4><a href="#">Louie Jie Mahusay</a></h4>
                                <span><a href="#">January 26, 2013 at 10:38 am</a></span>
                                <p>Mauris vestibulum elementum condimentum. Donec eget turpis eget arcu aliquam fermentum. Donec tincidunt ipsum et nisl laoreet id mattis ante mollis.</p>
                                <span class="reply"><a href="#">Reply</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="commentf">
                	<h3>Leave a comment</h3>
                    <form id="commentform" action="#" method="post">
                    	<fieldset>
                        <input type="text" name="name" id="name" size="30" value="" class="input" />
                        <label>Name (required)</label>
                        <br style="clear:both" />
                        <input type="text" name="mail" id="mail" size="30" value="" class="input" />
                        <label>Mail (will not be published) (required)</label>
                        <br style="clear:both" />
                        <textarea cols="25" rows="5" name="message" id="message" class="textarea">Message</textarea>
                        <br style="clear:both" />
                        <input type="submit" name="submit" class="button"  value="Submit"/>
                        </fieldset>
                    </form>
                </div><!--end:comment-->
                <ul class="pagination">
            	  <li class="page">Page 2 of 10</li>
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#" class="active">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                  <li><a href="#">last</a></li>
            	</ul>
            </section><!--end:content-->
            <aside class="sidebar">
            	<div class="side">
                	<h3>Popular Post</h3>
                    <div class="thumb-blog">
                    	<a href="blog.html"><img src="images/blog/blog-thumb-1.jpg" alt=""></a>
                        <h4><a href="blog.html">20 The Best Minimal Website</a></h4>
                        <p><small><a href="blog.html">01/16/13</a></small> | <small>Comment: <a href="blog.html">23</a></small></p>
                    </div>
                    <div class="thumb-blog">
                    	<a href="blog.html"><img src="images/blog/blog-thumb-2.jpg" alt=""></a>
                        <h4><a href="blog.html">Tips for Making Great Web Designer</a></h4>
                        <p><small><a href="blog.html">01/15/13</a></small> | <small>Comment: <a href="blog.html">10</a></small></p>
                    </div>
                    <div class="thumb-blog">
                    	<a href="blog.html"><img src="images/blog/blog-thumb-3.jpg" alt=""></a>
                        <h4><a href="blog.html">Preparing For A Front-End Job Interview</a></h4>
                        <p><small><a href="blog.html">01/12/13</a></small> | <small>Comment: <a href="blog.html">17</a></small></p>
                    </div>
                </div>
            	<div class="side">
                	<h3>Categories</h3>
                    <ul class="cat">
                    	<li><a href="#">Web Design</a></li>
                        <li><a href="#">Inspirational</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS3</a></li>
                        <li><a href="#">PSD Tutorial</a></li>
                        <li><a href="#">Wordpress Tutorial</a></li>
                        <li><a href="#">Javascript</a></li>
                        <li><a href="#">Graphic Design</a></li>
                    </ul>
                </div>
                <div class="side">
                	<h3>Text Widget</h3>
                    <p>Cras tortor ante, lobortis sed sodales sit amet, suscipit non quam. Pellentesque convallis luctus semper. Etiam fermentum, neque a semper auctor, tortor sapien dictum mi, non congue velit ante sed sem. </p>
                </div>
                <div class="side">
                	<h3>Flickr Photos</h3>
                    <ul class="flickr">
                    	<li><a href="#"><img src="images/flickr/flickr-1.jpg" alt="" ></a></li>
                        <li><a href="#"><img src="images/flickr/flickr-2.jpg" alt="" ></a></li>
                        <li><a href="#"><img src="images/flickr/flickr-3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/flickr/flickr-4.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/flickr/flickr-5.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/flickr/flickr-6.jpg" alt=""></a></li>
                    </ul>
                </div>
            </aside><!--sidebar-->
        </div><!--end:container-->
        <div class="tweet">
        	<ul id="tweet">					
            	<li class="entry-tweet">Check out this great <a href="#">#themeforest</a> item <strong>'Camouflet - Responsive Portfolio &amp; Blog Template'</strong> <a href="http://themeforest.net/item/camouflet-responsive-portfolio-blog-template/3325635">http://themeforest.net/item/camouflet-responsive-portfolio-blog-template/3325635</a></li>
				<li class="entry-tweet">Hello Buddy! Get the latest template here in <a href="#">html5awesome.com/themeforest/onepiece</a></li>
            	<li class="entry-tweet">Check out this great <a href="#">#themeforest</a> item <strong>'Casa Fresco - A Responsive Real Estate Template'</strong></li>
			</ul>
            <div>
            	<span>You should follow us on <a href="#">Twitter</a> for our latest updates.</span>
            </div>
        </div><!--end:end:tweet-->
    </div><!--end:page_wrap-->
    <footer>
    	<div id="footer_wrap">
        	<div class="one-third first">
            	<img src="images/logo-2.png" alt="">
                <p>Proin vitae mi sed felis suscipit dictum. Nam malesuada elit id metus euismod auctor. Vivamus placerat auctor. <a href="about.html">Read more</a></p>
            </div>
            <div class="one-third">
            	<ul class="siteinfo">
                	<li class="address">Adress:	<a href="#">9000 Cagayan de Oro City, Philippines</a></li>
                    <li class="email">Email: <a href="#">contact@sitename.com</a></li>
                    <li class="phone">Phone: <a href="#">+1 3400 7000 123</a></li>
                </ul>
            </div>
            <div class="one-third">
            	<ul class="social">
                    <li class="first"><a href="#" class="tip" title="Twitter"><img src="images/social-twitter.png" alt="Twitter" /></a></li>
                    <li><a href="#" class="tip" title="Skype"><img src="images/social-skype.png" alt="Skype" /></a></li>
                    <li><a href="#" class="tip" title="Flickr"><img src="images/social-flickr.png" alt="Flickr" /></a></li>
                    <li><a href="#" class="tip" title="Facebook"><img src="images/social-facebook.png" alt="Facebook" /></a></li>
                	<li><a href="#" class="tip" title="RSS feed"><img src="images/social-rss.png" alt="RSS feed" /></a></li>
                </ul>
            </div>
            <div class="copy">
            	<p>&copy; 2013. All Rights Reserved. HTML5 &amp; CSS3. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div><!--end:footer_wrap-->
    </footer><!--end:footer-->
<script type="text/javascript">
$(document).ready(function() {
	$('.entry-tweet').quovolver();		
});
</script>    
</body>
</html>
